# My First R notebook

In [3]:
# Creation of variables
a=10
b<-20
30->c
#above all declarations carry same meaning
# print the above values
a
b
c

[1] 10

[1] 20

[1] 30

In [4]:
n<-15
n

[1] 15

In [5]:
5->n
n

[1] 5

In [6]:
x<-1
X<-10
x
X

[1] 1

[1] 10

In [7]:
n<-10+2
n

[1] 12

In [9]:
n<-3+rnorm(1)
n

[1] 4.397433

The function rnorm(1) generates a normal random variable variate with mean zero and variance unity.
Note that you can simply ype an expression without assigning its valuesto an object,the result is thus displayed on the screen but is not stored in memory

In [11]:
(10+2)*5
#this value is not stored in any of the variables

[1] 60

In [13]:
name<-"Carmen";n1<-10;n2<-100;m<-0.5
ls()# ls lists simply the objects in memory
#semicolon is to seperate distinct commands on same lone

 [1] "a"    "b"    "c"    "m"    "n"    "n1"   "n2"   "name" "x"    "X"

In [15]:
ls(pat="m")
# if we want to list only the objects which contain  a given character in their name, the option pat can be used

[1] "m"    "name"

In [16]:
#to restrict the list of objects whose names start with this character
ls(pat="^m")

[1] "m"

In [17]:
#the function ls.str displays some details on the objects in memory
ls.str()

a :  num 10
b :  num 20
c :  num 30
m :  num 0.5
n :  num 4.4
n1 :  num 10
n2 :  num 100
name :  chr "Carmen"
x :  num 1
X :  num 10

# Online help

In [18]:
# we can use ?lm or help(lm) or help("lm") for online help
help(lm)
help("lm")
?lm

In [19]:
x<-1
mode(x)

[1] "numeric"

In [20]:
length(x)

[1] 1

In [25]:
A<-"Gomphotherium"; compar<- TRUE;z<- 3i
mode(A);mode(compar);mode(z)

[1] "character"

[1] "logical"

[1] "complex"

In [28]:
# NA means not available

In [26]:
N<-2.1e23
N

[1] 2.1e+23

In [29]:
#+ or - infinity are represented by +Inf or -Inf

In [30]:
# NaN is not a number

In [31]:
x<-5/0
x
exp(x)
exp(-x)
x-x

[1] Inf

[1] Inf

[1] 0

[1] NaN

In [37]:
x<-"Double quotes \"delimitate R\'s Strings."
x

[1] "Double quotes \"delimitate R's Strings."

In [38]:
cat(x)

Double quotes "delimitate R's Strings.

In [ ]:
# A string can be represented by both double and single quotes but in betwwen if we use double quotes we need to use backslash\ and the two characters altogether \" will treated in a specific wayby some functions like cat

## object        ## modes                                                          ## several modes in the same object
vector            numeric,character,complex,or logicalnumeric or character              no